:root {
  --heading-font-family: "Roboto", sans-serif;
  --text-font-family: "Roboto", sans-serif;
}
h1,
h2 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.container {
  width: 1200px;
}
.header-container {
  width: 1440px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-section {
  background: #2e2f42;
  width: 1440px;
  height: 600px;
}
.hero-title {
  color: #fff;
}
.hero-container {
  padding-top: 188px;
  align-content: center;
}
.button-service {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
}
.button-service:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.btn-container {
  text-align: center;
  padding: 356px, 635px, 188px, 636px;
}
.all-button {
  font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #4d5ae5;
background: #f4f4fd;
border: none;
}
.all-button:hover{
  color:  #fff; 
  background: #404bbf;
}
.first-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color:#fff;
  background: #404bbf;
}
.first-button:hover {
  background: #404bbf;
}
.global-header {
  font-size: 56px;
line-height: 1.07143;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}
.logo::before {
  content: "WEB";
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-footer::before {
  content: "WEB";
  color: #4d5ae5;
}
.logo-footer{
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.info-page {
  font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.info-page:hover{
  color: teal;
}
.nav-list {
  font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.about-studio {
  font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1128px;
  height: 104px;
  padding-top: 120px;
}
.title-container {
  margin-top: 120px;
}
.services-container {
 display: flex;
 margin-top: 72px;
 justify-content: space-between;
 width: 1128px;
 height: 412px;
}
.section-team {
 background: #f4f4fd;
 margin-top: 240px;
 width: 1440px;
 height: 732px;
}
.our-team {
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 text-align: center;
 color: #434455;
}
.team-container {
 display: flex;
 justify-content: space-between;
 text-align: center;
 margin-top: 72px;
 margin-bottom: 120px; 
}
.footer-section {
 background: #2e2f42;
}
.footer-paragraph {
 color: #f4f4fd;
}

ul {
  list-style-type: none;
}
